#gcc
*.out
#VSCode
*.vscode
#IOTest
*.sh
bin/
#Doxigen
/DOCS

#Unitest
CMakeFiles/
*.txt
*.cmake
Makefile

#Makefile
*.o
build
runTests
!CMakeLists.txt


#CA
callgrind.*


#Map
!Maps/*

#SVG
pretty.svg
Observer.svg
